# The series Data Structure

In [9]:
import pandas as pd
animals = ['tiger','bear','cats']
pd.Series(animals)

0    tiger
1     bear
2     cats
dtype: object

In [11]:
numbers=[1,2,3]
pd.Series(numbers)

0    1
1    2
2    3
dtype: int64

In [12]:
animals = ['tiger','bear','cats',None]
pd.Series(animals)

0    tiger
1     bear
2     cats
3     None
dtype: object

In [13]:
import numpy as np
np.nan == None

False

In [14]:
np.nan == np.nan

False

In [15]:
np.isnan(np.nan)

True

Doing the same (pd.Series) in Dictionary

In [24]:
football = {
    'club' : 'Arsenal',
    'coach' : 'Wenger',
    'Stadium' : 'Emirates'
}
f=pd.Series(football)
print(f)

club        Arsenal
coach        Wenger
Stadium    Emirates
dtype: object

In [25]:
f.index

Index(['club', 'coach', 'Stadium'], dtype='object')

# Querying a Series

In [27]:
football = {
    'club' : 'Arsenal',
    'coach' : 'Wenger',
    'Stadium' : 'Emirates'
}
f=pd.Series(football)
print(f)

club        Arsenal
coach        Wenger
Stadium    Emirates
dtype: object

In [28]:
f.iloc[2]  #will show the value

'Emirates'

In [32]:
f.loc['coach'] #will show the key

'Wenger'

In [33]:
s = pd.Series([25,225.2,2315.0,-4])
print(s)

0      25.0
1     225.2
2    2315.0
3      -4.0
dtype: float64

In [35]:
total=0
for element in s:
    total+=element
print(total)

2561.2

In [37]:
import numpy as np #doing the same (summation) like previous block in NumPy
total=np.sum(s)
print(total)

2561.2

In [41]:
#this creates a big series of random numbers

s=pd.Series(np.random.randint(0,1000,10000))
s.head() #.head() will only show the first 5 data row

0    595
1     72
2    517
3     51
4     59
dtype: int32

In [39]:
len(s)

10000

# Check the time of per code cell

In [43]:
%%timeit -n 100
summary = 0
for item in s:
    summary+=item

1.24 ms ± 63.2 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [44]:
%%timeit -n 100
summary = np.sum(s)

100 µs ± 14.7 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [45]:
for label, value in s.iteritems():
    s.set_value(label, value+2)
s.head()
0    597
1     74
2    519
3     53
4     61
dtype: int32
%%timeit -n 10
s = pd.Series(np.random.randint(0,1000,10000))
s+=2
The slowest run took 17.71 times longer than the fastest. This could mean that an intermediate result is being cached.
1 ms ± 1.58 ms per loop (mean

C:\Users\nirjon\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

0    597
1     74
2    519
3     53
4     61
dtype: int32

In [46]:
%%timeit -n 10
s = pd.Series(np.random.randint(0,1000,10000))
s+=2

The slowest run took 17.71 times longer than the fastest. This could mean that an intermediate result is being cached.
1 ms ± 1.58 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [58]:
original_sports = pd.Series({'Archery': 'Bhutan',
                             'Golf': 'Scotland',
                             'Sumo': 'Japan',
                             'Taekwondo': 'South Korea'})
cricket_loving_countries = pd.Series(['Australia',
                                      'Barbados',
                                      'Pakistan',
                                      'England'], 
                                   index=['Cricket',
                                          'Cricket',
                                          'Cricket',
                                          'Cricket'])
all_countries = original_sports.append(cricket_loving_countries)