In [1]:
type("hi:")

str

Tuples cannot be changed and Denoted as()

In [12]:
x=(1,2.2,3,'nirjon')
type(x)

tuple

In [13]:
print(x)

(1, 2.2, 3, 'nirjon')

In [14]:
for elements in x:
    print(x)

(1, 2.2, 3, 'nirjon')
(1, 2.2, 3, 'nirjon')
(1, 2.2, 3, 'nirjon')
(1, 2.2, 3, 'nirjon')

List can be changed or mutable and Denoted as []

In [15]:
x=[1,2.2,3.3,45,"habib"]
type(x)

list

In [16]:
x.append ("nirjon")
print(x)

[1, 2.2, 3.3, 45, 'habib', 'nirjon']

In [17]:
for elements in x:
    print(elements)

1
2.2
3.3
45
habib
nirjon

do the same thing (printing elements) using indexing operator

In [18]:
i=0
while(i!=len(x)):
    print(x[i])
    i=i+1

1
2.2
3.3
45
habib
nirjon

Use + to concatenate lists.

In [20]:
[5,6,3]+[1,2,3]

[5, 6, 3, 1, 2, 3]





Use * to repeat lists.

In [21]:
[2]*5

[2, 2, 2, 2, 2]


playing with strings (slicing)

In [22]:
x="my name is Ahasan Habib Nirjon"
print(x[0])

m

In [23]:
print(x[0:1])

m

In [24]:
print(x[0:5])

my na

printing only habib

In [26]:
print(x[18:23])

Haib

In [27]:
y="my wife is Tanbeen Habib"
#if i only want to print tanbeen
print(y[11:18])

Tanbeen

In [28]:
y[:3]

'my '

In [29]:
y[1]

'y'

In [30]:
y[1:]

'y wife is Tanbeen Habib'

In [31]:
y[0:]

'my wife is Tanbeen Habib'

In [32]:
firstname = 'Christopher'
lastname = 'Brooks'

print(firstname + ' ' + lastname)
print(firstname*3)
print('Chris' in firstname)

Christopher Brooks
ChristopherChristopherChristopher
True

Dictionary are associated with keys and values and Denoted as {}

In [45]:
address={
    'road':'deobhog',
    'holding_number':'179/4',
    'district':'Narayanganj',
    'postal':'1400'
}
for elements in address:
    print(address[elements])

deobhog
179/4
Narayanganj
1400

In [48]:
for road in address:
    print(road)

road
holding_number
district
postal

In [49]:
z=('Ahasan', 'Habib', 'Nirjon')
fname,mname,lname=z
print(z)

('Ahasan', 'Habib', 'Nirjon')

In [50]:
print(fname)

Ahasan